html, body {
    margin: 0;
    height: 100%;
}

#commandline {}

#commandline span {
    font-family: monospace;
    float: left;
}

#commandInput {
    width: calc(100% - 25px);
    margin-left: 5px;
    resize: none;
    /* border: none; */
    overflow: hidden;
    padding: 0;
    outline: none;
    font-family: monospace;
}

#result {
    font-family: monospace;
}

.error {
    color: red;
    white-space: pre;
}

.result {
    white-space: pre;
}

.command {
    white-space: pre;
}